@model List<TbExams>

<div class="container">
	<div class="row">
		<div class="col">
			<a asp-controller="Exam" asp-action="Edit" class="btn btn-primary">Create Exam</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody class="table-body">
					@foreach (var element in Model)
					{
						<tr>
							<td>@element.Id</td>
							<td>@element.Title</td>
							<td>
								<a asp-controller="Exam" asp-action="Edit" class="alert-link btn-edit text-decoration-none text-white btn btn-warning" asp-route-id="@element.Id">Edit</a>
							</td>
							<td>
								<a asp-controller="Exam" asp-action="Delete" class="alert-link text-decoration-none text-white btn-delete btn btn-danger" asp-route-id="@element.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}