@model ExamViewModel

<input type="hidden" asp-for="Id" />
<div data-mdb-input-init class="form-outline mb-4">
	<input asp-for="Title" type="text" class="form-control" />
	<label asp-for="Title" class="form-label">Title *</label>
	<span asp-validation-for="Title" style="color: red;"></span>
</div>