@model QuestionViewModel;

<form method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="QuestionId" />

	<div class="mb-3">
		<label asp-for="QuestionTitle" class="form-label">Title</label>
		<input asp-for="QuestionTitle" type="text" class="form-control">
		<span asp-validation-for="QuestionTitle" style="color: red;"></span>
	</div>
	<div class="mb-3">
		<label asp-for="FirstChoice" class="form-label">First Choice</label>
		<input asp-for="FirstChoice" type="text" class="form-control">
		<span asp-validation-for="FirstChoice" style="color: red;"></span>
	</div>
	<div class="mb-3">
		<label asp-for="SecondChoice" class="form-label">Second Choice</label>
		<input asp-for="SecondChoice" type="text" class="form-control">
		<span asp-validation-for="SecondChoice" style="color: red;"></span>
	</div>
	<div class="mb-3">
		<label asp-for="ThirdChoice" class="form-label">Third Choice</label>
		<input asp-for="ThirdChoice" type="text" class="form-control">
		<span asp-validation-for="ThirdChoice" style="color: red;"></span>
	</div>
	<div class="mb-3">
		<label asp-for="FourthChoice" class="form-label">Fourth Choice</label>
		<input asp-for="FourthChoice" type="text" class="form-control">
		<span asp-validation-for="FourthChoice" style="color: red;"></span>
	</div>
	<label asp-for="CorrectChoice" class="form-label">Correct Choice</label>
	<div class="form-check">
		<input asp-for="CorrectChoice" class="form-check-input" type="radio" value="1" checked>
		<label asp-for="CorrectChoice" class="form-check-label">
			First Choice
		</label>
	</div>
	<div class="form-check">
		<input asp-for="CorrectChoice" class="form-check-input" type="radio" value="2" checked>
		<label asp-for="CorrectChoice" class="form-check-label">
			Second Choice
		</label>
	</div>
	<div class="form-check">
		<input asp-for="CorrectChoice" class="form-check-input" type="radio" value="3" checked>
		<label asp-for="CorrectChoice" class="form-check-label">
			Third Choice
		</label>
	</div>
	<div class="form-check">
		<input asp-for="CorrectChoice" class="form-check-input" type="radio" value="4" checked>
		<label asp-for="CorrectChoice" class="form-check-label">
			Fourth Choice
		</label>
	</div>
	<button id="saveQuestion" type="submit" class="btn btn-primary">Submit</button>
</form>
