@model RegisterViewModel;

<div class="container d-flex justify-content-center align-items-center">
	<div class="tab-content">
		<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
			<form method="post" asp-controller="Account" asp-action="Register">
				@Html.AntiForgeryToken()

				<!-- Username input -->
				<div data-mdb-input-init class="form-outline mb-4">
					<input asp-for="UserName" type="text" class="form-control" />
					<label asp-for="UserName" class="form-label">Username *</label>
					<span asp-validation-for="UserName" style="color: red;"></span>
				</div>

				<!-- Email input -->
				<div data-mdb-input-init class="form-outline mb-4">
					<input asp-for="Email" type="email" class="form-control" />
					<label asp-for="Email" class="form-label">Email *</label>
					<span asp-validation-for="Email" style="color: red;"></span>
				</div>

				<!-- Password input -->
				<div data-mdb-input-init class="form-outline mb-4">
					<input asp-for="Password" type="password" class="form-control" />
					<label asp-for="Password" class="form-label">Password *</label>
					<span asp-validation-for="Password" style="color: red;"></span>
				</div>

				<!-- Role input -->
				<div class="form-outline mb-4">
					<select asp-for="RoleName" class="form-select" asp-items="@(new SelectList(Model.Roles, "Name", "Name"))">
						<option value="">-- Select Role --</option>
					</select>
					<label asp-for="Roles" class="form-label">Role *</label>
					<span asp-validation-for="Roles" style="color: red;"></span>
				</div>

				<!-- 2 column grid layout -->
				<div class="row mb-4">
					<div class="col-md-6 d-flex justify-content-center">
						<!-- Checkbox -->
						<div class="form-check mb-3 mb-md-0">
							<input asp-for="IsRememberMe" class="form-check-input" type="checkbox" />
							<label asp-for="IsRememberMe" class="form-check-label"> Remember me </label>
						</div>
					</div>
				</div>

				<!-- Submit button -->
				<button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign Up</button>

				<!-- Register buttons -->
				<div class="text-center">
					<p>Already a user? <a asp-controller="Account" asp-action="Login">Sign In</a></p>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}